version: '3'

services:
  influxdb:
    image: influxdb:2.4.0
    container_name: influxdb
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=test1234
      - DOCKER_INFLUXDB_INIT_ORG=screencouples
      - DOCKER_INFLUXDB_INIT_BUCKET=networks
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=security-t0ken
    networks:
      - monitoring
    ports:
    - '8086:8086'
    volumes:
      - type: volume
        source: influxdb-config
        target: /etc/influxdb2/
      - type: volume
        source: influxdb2-data
        target: /var/lib/influxdb2

  telegraf:
    image: telegraf:1.24
    container_name: telegraf
    networks:
      - monitoring
    ports:
      - '8092:8092'
      - '8094:8094'
    links:
      - influxdb
    volumes:
      - type: bind
        source: ./telegraf/
        target: /etc/telegraf/
      - type: bind
        source: ./mibs/vyos/
        target: /usr/share/snmp/mibs
    entrypoint: 'telegraf --config /etc/telegraf/telegraf.toml'
    depends_on: 
      - influxdb
  grafana:
    image: grafana/grafana-oss:9.1.5
    container_name: grafana
    networks:
      - monitoring
    ports:
      - '3000:3000'
    links:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=test1234
    volumes:
      - type: volume
        source: grafana-storage
        target: /var/lib/grafana
    depends_on:
      - influxdb

networks:
  monitoring:
    name: screencouples-monitoring

volumes:
  influxdb-config: {}
  influxdb2-data: {}
  grafana-storage: {}
